{% extends 'base.html.twig' %}

{% block title %}Event Config{% endblock %}

{% block content %}


    <div class="sm-12">
        <div class="col-md-12">
            <h1>Event Settings</h1>
            {% for key,value in eventConfig.raw %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ key|trans }}
                            <div class="btn-group">
                                <a href="{{ url('config_edit', {'key': key}) }}" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            {% if value.timestamp is defined %}
                                {{ value|date('Y-m-d H:i') }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
