{% extends 'base.html.twig' %}

{% block title %}All Users{% endblock %}

{% block content %}
    <div class="sm-12">
        {% embed "@KilikTable/_defaultTable.html.twig" with {"table": table} %}
            {% block tableTitle %}
                <b>Organisations list</b>
                <div class="navbar navbar-right">
                    <a href="{{ path("user") }}"><span class="glyphicon glyphicon-home"></span> return to examples list</a>
                </div>
            {% endblock tableTitle %}
        {% endembed %}
    </div>
{% endblock %}
